<appSettings>
  <add key ="username" value="WrayTesting"/>
  <add key="password" value="bwgpuonazhlgdant"/>
  <add key="emailto" value="wraytesting@gmail.com"/>
  <add key="emailfrom" value="wraytesting@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
</appSettings>
